

image: python:alpine

before_script:
  - pip install mkdocs
  - pip install mkdocs-material pygments pymdown-extensions mkdocs-minify-plugin

pages:
  script:
  - mkdocs build
  - mv site public
  artifacts:
    paths:
    - public
  only:
  - master

